.socialicontab {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  border-radius: 10px;
  background-color: #fff;
  padding: 15px 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: fixed;
  z-index: 10;
}
.socialicon.fa-facebook {
  color: #4c69ba;
}
.socialicon.fa-facebook:hover {
  background-color: #4c69ba;
  color: #fff;
  padding: 3px 5px;
  border-radius: 50%;
}
.socialicon.fa-instagram {
  color: #cd486b;
}
.socialicon.fa-instagram:hover {
  background-color: #cd486b;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}
.socialicon.fa-twitter {
  color: #00acee;
}
.socialicon.fa-twitter:hover {
  color: #fff;
  background-color: #00acee;
  padding: 5px;
  border-radius: 50%;
}
.socialicon.fa-pinterest,
.fa-youtube {
  color: #e60023;
}
.socialicon.fa-pinterest:hover,
.socialicon.fa-youtube:hover {
  color: #fff;
  background-color: #e60023;
  padding: 5px;
  border-radius: 50%;
}
