.buybtn {
  background-color: #04aa6d !important;
  color: white !important;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  float: left;
  width: 100%;
}
.cartBtn {
  background-color: #f44336 !important;
  color: white !important;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  float: right !important;
}
.css-dnrpxu-MuiCardActions-root {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}
.cartDiv {
  width: 190px;
}
.container-s {
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
.title {
  font-size: 8px;
  text-decoration: none;
}
.search-root {
  align-items: center;
  position: relative;
  border-radius: 30px;
  /* padding-right: 14px; */
  height: 24px !important;
  width: 45px;
  padding-left: 12px;
  border-radius: 25px;
}
.search-root .MuiOutlinedInput-root {
  border-radius: 25px;
}
.css-i4bv87-MuiSvgIcon-root {
  width: 30px !important;
}
.search-root .MuiInputAdornment-root {
  background-color: #45a049 !important;
  border-radius: 50% !important;
  color: white !important;
  padding: 10px !important;
}

@media (min-width: 280px) and (max-width: 499px) {
  .search-root {
    height: 13px !important;
    width: 45px;
    padding-left: 8px;
  }
}
